.textActor {
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
}

.locandinaActors {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: auto;
	overflow: hidden;
  }

  .locandinaActors img {
	width: 100%;
	height: auto;
  }

.actors_desc {
	padding: 0px 30px 50px 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: center;
}


.info_section.actors {
	background: white;
}

.h1-actorDetails {
	text-align: center;
	color: #ffffff;
}

.h4-actorDetails {
	text-align: center;
	color: #ffffff;
}

.movie_header_actor {
	color: #ffffff;
	text-align: center;
	margin-top: 200px;
}

.actorBio {
	background-color: #f3ebe9e2;
	max-width: 100%;
	text-align: center;
	height: 350px;
}

.biography-title {
	padding-top: 40px;
	margin-top: 80px;
	color: black;
	font-size: 45px;
	z-index: 30;
}

.text {
	color: black;
	font-size: 22px;
	margin: 35px 20% 0px 20%;
}


@media screen and (max-width: 768px) {

	.movie_desc {
		width: 100%;
		color: #ffffff;
	}

	.info_section {
		background: white;
	}
}