.movie {
  position: relative;
  margin: 10px;
  overflow: hidden;
  transition: 0.7s;
}

.movie:hover {
  transform: scale(0.88)
}


.movie img {
  object-fit: cover;
  height: 350px;
  aspect-ratio: 2 / 3;
}

.movie .conteneur {
  position: relative;
  opacity: 50%;
  width: 100%;
  transition: 0.8s;
  border: 18.9px solid #00000062;
}

.movie:hover .conteneur {
  background-color: $color-4;
  transform: scale(1.4);
}


.movie .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  
